assets/audio/img/originales/*
assets/audio/img/150/*
assets/videos/img/originales/*
assets/videos/img/150/*
assets/memorama/familia/tmp/*
assets/memorama/familia/originales/*
assets/memorama/favoritos/tmp/*
assets/memorama/favoritos/originales/*
assets/memorama/frutas/tmp/*
assets/memorama/frutas/originales/*
assets/memorama/loteria/tmp/*
assets/memorama/loteria/originales/*
assets/memorama/temas/tmp/*
assets/memorama/temas/originales/*
assets/memorama/transportes/tmp/*
assets/memorama/transportes/originales/*